<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>725029754428-ka7o1trrh4kfmrpac3vkfet7csuf3jkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725029754428-ka7o1trrh4kfmrpac3vkfet7csuf3jkv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNSOnEKwakJKaA5aa9IRXbVqhStsIuHAk</string>
	<key>GCM_SENDER_ID</key>
	<string>725029754428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tinhdang.Genomality</string>
	<key>PROJECT_ID</key>
	<string>genomality</string>
	<key>STORAGE_BUCKET</key>
	<string>genomality.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725029754428:ios:5f2e9c83cb1cb510</string>
	<key>DATABASE_URL</key>
	<string>https://genomality.firebaseio.com</string>
</dict>
</plist>